.mainpage {
	display: flex;
	align-items: flex-start;
	margin: 0px 40px;
	justify-content: space-between;
	flex: 1;
	overflow: hidden;
	margin-bottom: 10px;
}

.grid-wrapper {
	height: 100%;
	display: grid;
	grid-template-columns: 32% 32% 32%;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	overflow-y: auto;
	flex: 1;
}

.cart {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cart-page {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cart-grid {
	width: 80%;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	margin: 0px 40px;
}

@media screen and (max-width: 1150px) {
	.grid-wrapper {
		grid-template-columns: 49% 49%;
	}
}

@media screen and (max-width: 850px) {
	.grid-wrapper {
		grid-template-columns: 100%;
	}
}
